name: Java CI

on: [push]

jobs:
  test_and_build:
    run-on: ubuntu-latest
    steps:
      - name: Cehckout repository
        uses: actions/checkout@v3
      - name: Set up JDK 17 (Temurin Distribution)
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      - name: Build with Maven
        run: mvn -B -P all-tests --file pom.xml verify package spring-boot:build-image

